<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quarkus Finance Web Application: Add Invoice</title>

    <script type="text/javascript">
        function changeContent(url) {
            document.getElelementById("messages").innerHTML = { contentMessages };
            return (false);
        }
    </script>
    <link rel="stylesheet" type="text/css" href="styles.css" />

</head>

<body>

    <div class="banner-wrapper">
        <div class="grid">
            <div class="banner">
                <div class="grid">
                    <div class="callout">Quarkus Finance Web Application: Add an Invoice</div>
                    <div class="app-details">
                        <h5>Application</h5>
                        <ul>
                            <li>GroupId: <code>com.example</code></li>
                            <li>ArtifactId: <code>finance-webapp</code></li>
                            <li>Version: <code>1.0.0-SNAPSHOT</code></li>
                            <li>Quarkus Version: <code>2.14.0.Final</code></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="grid">
            <div class="left-column">
                <br />&rsaquo;
                <code>@Path protected by Java annotation @Authenticated<br/> <a href="showtokens" class="path-link">/showtokens</a></code>

                <br />&rsaquo; <code>@Path protected by Java annotation @RolesAllowed("finance-user") <a href="showinvoices" class="path-link">/showinvoices</a></code>
                <br />&rsaquo; <code>@Path protected by Java annotation @RolesAllowed("finance-admin") <a onclick="javascript:showInvoiceForm();return false;" class="path-link">/addinvoices </a></code>
                <br />&rsaquo; <code>@Path public: <a href="showcampaigns" class="path-link">/showcampaigns </a></code>
            </div>
            <div class="right-column" id="messages">
                {message}
            </div>
        </div>
    </div>

</body>

</html>