
{@org.eclipse.microprofile.jwt.JsonWebToken token}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quarkus Finance Web Application</title>

    <script type="text/javascript">
        function changeContent(url) {
            document.getElelementById("messages").innerHTML = { contentMessages };
            return (false);
        }
        function showInvoiceForm(){
            document.getElementById("messages").innerHTML = "<form action='addinvoices' method='get'>"
                +"<br/>Invoice ID: <input type='text' id='invoiceId' name='invoiceId'/>"
                +"<br/>Customer: <input type='text' id='name' name='name'/>"
                +"<br/>Product: <input type='text' id='item' name='item'/>"
                +"<br/>Date: <input type='text' id='date' name='date'/>"
                +"<br/>Amount: <input type='text' id='amount' name='amount'/>"
                +"<br/><input type='submit'/>"
                +"</form>"
        }
    </script>
    <link rel="stylesheet" type="text/css" href="styles.css" />

</head>

<body>

    <div class="banner-wrapper">
        <div class="grid">
            <div class="banner">
                <div class="grid">
                    <div class="callout">Quarkus Finance Web Application</div>
                    <div class="app-details">
                        <h5>Application</h5>
                        <ul>
                            <li>GroupId: <code>com.example</code></li>
                            <li>ArtifactId: <code>finance-webapp</code></li>
                            <li>Version: <code>1.0.0-SNAPSHOT</code></li>
                            <li>Quarkus Version: <code>2.14.0.Final</code></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="grid">
            <div class="left-column" style="grid-column: span 4;">
                <br />&rsaquo;
                <code>@Path: <a href="showtokens" class="path-link">/showtokens (Needs Authentication: any user)</a></code>
                <br />&rsaquo; <code>@Path: <a href="showinvoices" class="path-link">/showinvoices (Needs authorization: finance-user role)</a></code>
                <br />&rsaquo; <code>@Path: <a onclick="javascript:showInvoiceForm();return false;" class="path-link">/addinvoices (Needs authorization: finance-admin role)</a></code>
                <br />&rsaquo; <code>@Path: <a href="showcampaigns" class="path-link">/showcampaigns (Public endpoint)</a></code>
                <h4>Hi, {token.getName()}</h4>
                 Access token claims :
                <table style="font-family: 'Courier New', Courier, monospace; font-size: 12px ;">
                    {#for claim in token.getClaimNames()}
                      <tr><td>{claim}</td><td>{token.getClaim(claim)}</td></tr>
                    {/for}
                </table>
                
                
                <div><a href="/finance">Back</a></div> 
            </div>
            <div class="right-column" id="messages" style="grid-column: span 4; font-size: 14px;;">
                
              
            </div>
        </div>
    </div>
</body>

</html>